@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black foreground color */
  --slate-rgb: 112, 128, 144; /* Slate color */
}

body {
  color: rgb(var(--foreground-rgb)); /* Text color remains black */
  background-color: rgb(var(--slate-rgb)); /* Slate background */
}

@layer utilities {
.text-balance {
    text-wrap: balance;
  }
}
